body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.icon-wrapper p {
  font-family: Sans-Serif;
  text-align: center;
  overflow-wrap: break-word;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 128px;
}
